.text-semi-bold {
    font-weight: normal;
    font-weight: bold;
    font-weight: 500;
}

.navbar-center {
    display: inline-block;
    float: none !important;
}

.navbar-center-align {
    text-align: center;
}

.bg-home {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    background-image: url('https://matrizit.com.br/assets/images/bg-home.png');
}

.bg-color {
    background-color: #09092E !important;
}

.text-title-bg {
    font-size: 60px !important;
    font-weight: bold !important;
}

.text-regular-white {
    font-size: 16px !important;
    font-weight: normal !important;
    color: #FFFFFF;
}

.items-center {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

.button {
    background-color: #FF3C00;
    border: 30%;
    color: white;
    display: inline-block;
    font-size: 13px;
    border-radius: 50px;
}

.margin {
    margin: 20px;
    padding: 7px 20px;
}








/*
#checkbox-menu {
    position: absolute;
    opacity: 0;
    }
    
    label {
    cursor: pointer;
    position: relative;
    display: block;
    height: 22px;
    width: 30px;
    }
    
    label span {
    position: absolute;
    display: block;
    height: 5px;
    width: 100%;
    border-radius: 30px;
    background: #f16234;
    transition: 0.25s ease-in-out;
    }
    
    label span:nth-child(1) {
    top: 0;
    }
    
    label span:nth-child(2) {
    top: 8px;
    }
    
    label span:nth-child(3) {
    top: 16px;
    }
    
    #checkbox-menu:checked+label span:nth-child(1) {
    transform: rotate(-45deg);
    top: 8px;
    }
    
    #checkbox-menu:checked+label span:nth-child(2) {
    opacity: 0;
    }
    
    #checkbox-menu:checked+label span:nth-child(3) {
    transform: rotate(45deg);
    top: 8px;
    }
    */